# Created by .ignore support plugin (hsz.mobi)
.idea/bee_api.iml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
bee_api/.idea/

**/__pycache__/

bee_api/*.db
bee_api/tests/__pycache__/